* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    background-color: seashell;
}

header {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 4em;
    background-color: grey;
    color: white;
}

#mobileInstructions {
    display: none;
}

#game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
}

#gameBox {
    position: relative;
    border: 2px solid black;
    width: 750px;
    height: 450px;
    background-color: #bedfeb;
    overflow: hidden;
}

#ball {
    z-index: 1;
    position: absolute;
    background-color: #EA526F;
    opacity: 0.9;
    border-radius: 50px;
    left: 300;
    top: 100;
}

.obstacle {
    border: 2px solid black;
    position: absolute;
    right: -90;
    bottom: 0;
}

section {
    text-align: center;
}

#restart {
    height: 30px;
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 1px solid red;
    cursor: pointer;
}
   

footer {
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 768px){
    #instructions {
        display: none;
    }

    #mobileInstructions {
        display: inline;
    }

    #restart {
        width: 100%;
    }
}